/*
=========================
-----IDENTIFIKÁTORY------
=========================
*/

#nova_novinka-tlacitko_zobraz_formular {
	font-size: 18px;
	position: absolute;
	top: 270px;
	left: 600px;
}

#nova_novinka-formular {
	display: none;
	background: #FF8800;
	padding: 10px;
	margin-bottom: 10px;
	border: 5px solid #006B45;
	border-radius: 10px;
}

#nova_novinka-nadpis {
	font-size: 30px;
}

#nova_novinka-nadpis_nove_novinky-label {
	width: 200px;
}

#nova_novinka-textarea, #nova_novinka-nadpis_nove_novinky-pole {
	width: 100%;
}

.cke_chrome {
	padding: 0px;

}